@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans";
  font-style: normal;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.maincontainer {
  display: flex;
  flex-direction: row;
}

.were {
  color: hsl(0, 36%, 70%);
  font-weight: 100;
  font-size: xxx-large;
  letter-spacing: 1rem;
}

.comingsoon {
  font-size: xxx-large;
  letter-spacing: 1rem;
  font-weight: 600;
  color: hsl(0, 6%, 24%);
  font-weight: 600;
}

.paragraph {
  color: hsla(0, 36%, 70%, 0.6);
  font-size: 16px;
  font-weight: 600;
}

.bacs {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.container1 {
  width: 63%;
  padding: 75px 150px 0 150px;
}

.container2 {
  width: 50%;
}

.csandp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pandinput {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

button {
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: white;
  border: 1px solid hsl(0, 100%, 98%);
  border-radius: 20px;
  width: 30%;
  height: 37px;
  display: flex;
  border: none;
}

button svg {
  color: inherit;
}

.input-wrapper {
  justify-content: space-between;
  border: 1px solid hsl(0, 36%, 70%);
  color: hsl(0, 36%, 70%);
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  border-radius: 20px;
  height: 37px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  border: none;
  width: 100%;
  outline: none;
  height: 100%;
}
.input-wrapper input:focus,
.input-wrapper input:hover {
  outline: none;
  border: none;
}

.img2 {
  display: none;
}

::placeholder {
  color: hsl(0, 36%, 70%);
}

@media (min-width: 375px) and (max-width: 800px) {
  .maincontainer {
    flex-direction: column-reverse;
    width: 100%;
  }

  .container1 {
    width: 100%;
    padding: 50px;
  }

  .container2 {
    width: 100%;
  }

  .img3 {
    width: 100%;
  }

  .img2 {
    display: block;
    padding: 30px 50px;
  }

  .img1 {
    display: none;
  }
}
